<div class="container-lg">
  <h1>About</h1>
  <p>Subtitle!</p>
  <p>This is a Twitter (X) clone!, It's currently in the early stages of development.
    The goal is to create a simple, easy to use, and fast social media platform.
    The project is open source and can be found on <a href="https://github.com/RenatoAguirre/y">GitHub</a>
  </p>
</div>