<h1>Contact</h1>
<h3>Send me a message!</h3>
<form>
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="Text" class="form-control" id="exampleInputName" placeholder="Enter Your Name">
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputEmail">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <br>
  <div class="form-group">
    <label for="exampleInputMessage">Message</label>
    <input type="message" class="form-control" id="exampleInputPassword1" placeholder="Message">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>