<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="breadcrumb-link" href="https://www.instagram.com/renatoaguirree/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
    <li class="breadcrumb-item"><a class="breadcrumb-link" href="https://github.com/RenatoAguirre"target="_blank" rel="noopener noreferrer">github</a></li>
    <li class="breadcrumb-item"><a class="breadcrumb-link" href="https://www.linkedin.com/in/renato-aguirre-5038b5293/"target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
  </ol>
</nav>
<p>Copyright © 2024 Y Corp.</p>