<div class="nav-container" >
  <div class="vertical-nav">
    <%= image_tag("Y_logo.png", :size => "36x36") %>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/"><span class="material-symbols-outlined">
            home
          </span> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><span class="material-symbols-outlined">
            description
          </span> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><span class="material-symbols-outlined">
            contact_page
          </span> Contact</a>
      </li>
    </ul>
  </div>
</div>